.DS_Store

last_run_issues.txt
tool.log
update.log

.tool-files/h.e
.tool-files/k.e

INPUT/*
!INPUT/readme.txt

Docs/diff_Sample.txt

OUTPUT/EFI/*

resources/*

extras/*
!extras/README.txt
!extras/READMElibcryptoSource.txt
!extras/libcrypto.1.0.0.dylib
