.DS_Store

tool.log
update.log

.tool-files/h.e

INPUT/config.plist
INPUT/temp/config.plist
INPUT/temp/config.plist.txt
INPUT/temp/edit_text.txt

Docs/config.plist
Docs/SampleFull.plist

OUTPUT/EFI/*

resources/*

extras/*
!extras/README.txt
